<label class="title">Records</label>
<table class="score-table">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Username</th>
    <th>Disposed Time</th>
    <th>Score</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let score of scoresList; let index = index" [class.odd-row]="index % 2 !== 0">
    <td>{{ index + 1 }}</td>
    <td>{{ score.username }}</td>
    <td>{{score.disposedTime}}</td>
    <td>{{ score.punctuation }}</td>
    <td>{{ score.recordDate | date: 'dd.MM.yyyy' }}</td>
  </tr>
  </tbody>
</table>

<br />

<div *ngIf="isUserLoggedIn">
  <label class="title">User Records</label>
  <table class="score-table">
    <thead>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>Disposed Time</th>
      <th>Score</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let score of userScoresList; let index = index" [class.odd-row]="index % 2 !== 0">
      <td>{{ index + 1 }}</td>
      <td>{{ score.username }}</td>
      <td>{{score.disposedTime}}</td>
      <td>{{ score.punctuation }}</td>
      <td>{{ score.recordDate | date: 'dd.MM.yyyy' }}</td>
    </tr>
    </tbody>
  </table>
</div>
